/* noto sans */
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* open sans */
@import url('https://fonts.cdnfonts.com/css/open-sans');

/* jalan */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}